src/test/resources/deploy/test/dbunit-roles-export-choice.dtd

<!ELEMENT dataset (
   (AUTHENTICATION_BUILT_IN|
    ROLES|
    ROLE_RELATIONS)*)>

<!ELEMENT AUTHENTICATION_BUILT_IN EMPTY>
<!ATTLIST AUTHENTICATION_BUILT_IN
    ID CDATA #IMPLIED
    CREATED_WHEN CDATA #IMPLIED
    CREATED_WHO CDATA #IMPLIED
    MODIFIED_WHEN CDATA #IMPLIED
    MODIFIED_WHO CDATA #IMPLIED
    PASSPHRASE_SHA1 CDATA #IMPLIED
    ROLE_ID CDATA #IMPLIED
>

<!ELEMENT ROLES EMPTY>
<!ATTLIST ROLES
    NAME CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
    ID CDATA #IMPLIED
    ID CDATA #IMPLIED
    AUTHENTICATION_SERVICE_ID CDATA #IMPLIED
    CREATED_WHEN CDATA #IMPLIED
    CREATED_WHO CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    ENABLED CDATA #IMPLIED
    LAST_LOGIN CDATA #IMPLIED
    MODIFIED_WHEN CDATA #IMPLIED
    MODIFIED_WHO CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OAUTH_ACCESS_TOKEN CDATA #IMPLIED
    OAUTH_DATA CDATA #IMPLIED
    PERSISTENT_ID CDATA #IMPLIED
    ROLE_ID CDATA #IMPLIED
    ROLE_TYPE_ID CDATA #IMPLIED
    SHARED_TOKEN CDATA #IMPLIED
>

<!ELEMENT ROLE_RELATIONS EMPTY>
<!ATTLIST ROLE_RELATIONS
    ID CDATA #IMPLIED
    CHILD_ROLE_ID CDATA #IMPLIED
    CREATED_WHEN CDATA #IMPLIED
    CREATED_WHO CDATA #IMPLIED
    MODIFIED_WHEN CDATA #IMPLIED
    MODIFIED_WHO CDATA #IMPLIED
    PARENT_ROLE_ID CDATA #IMPLIED
>

