src/main/jaxb/common-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://vocabs.ands.org.au/registry/schema/2017/01/common"
    xmlns="http://vocabs.ands.org.au/registry/schema/2017/01/common">
    <xs:annotation>
        <xs:documentation>Types for the ANDS Vocabulary Registry Schema, and for use within the Registry's internals.</xs:documentation>
    </xs:annotation>
    <xs:simpleType name="vocabulary-status">
        <xs:restriction base="xs:token">
            <xs:enumeration value="published">
                <xs:annotation>
                    <xs:documentation>An instance of a vocabulary entity with this status is publicly visible.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="draft">
                <xs:annotation>
                    <xs:documentation>An instance of a vocabulary entity with this status is not publicly visible. NB: there also may be another instance of the same vocabulary entity with a different status, i.e., which is publicly visible.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="deprecated">
                <xs:annotation>
                    <xs:documentation>An instance of a vocabulary entity with this status is publicly visible, but the vocabulary is labelled as deprecated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="version-status">
        <xs:restriction base="xs:token">
            <xs:enumeration value="current">
                <xs:annotation>
                    <xs:documentation>At any time, at most one version may have status="current".</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="superseded"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ap-source">
        <xs:restriction base="xs:token">
            <xs:enumeration value="system">
                <xs:annotation>
                    <xs:documentation>An access point provided by the Registry. API users do not directly specify creation of such access points.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="user">
                <xs:annotation>
                    <xs:documentation>An access point specified by the API user.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="access-point-type">
        <xs:restriction base="xs:token">
            <xs:enumeration value="apiSparql"/>
            <xs:enumeration value="file"/>
            <xs:enumeration value="sesameDownload"/>
            <xs:enumeration value="sissvoc"/>
            <xs:enumeration value="webPage"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="version-artefact-status">
        <xs:restriction base="xs:token">
            <xs:enumeration value="current"/>
            <xs:enumeration value="pending"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="version-artefact-type">
        <xs:restriction base="xs:token">
            <xs:enumeration value="conceptList"/>
            <xs:enumeration value="conceptTree"/>
            <xs:enumeration value="harvestPoolparty"/>
            <xs:enumeration value="resourceDocs"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="related-entity-type">
        <xs:restriction base="xs:token">
            <xs:enumeration value="party">
                <xs:annotation>
                    <xs:documentation>A person, group or role related to the vocabulary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="service">
                <xs:annotation>
                    <xs:documentation>ISO 2146 defines a service as 'a system (analogue or digital) that provides one or more functions of value to an end user'. Services can be web services, provided across the web and following a well-defined machine protocol; but they may also be offline services, provided via an instrument, for example.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="vocabulary">
                <xs:annotation>
                    <xs:documentation>A vocabulary hosted externally, i.e., not within this Registry.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="related-entity-identifier-type">
        <xs:restriction base="xs:token">
            <xs:enumeration value="auAnlPeau">
                <xs:annotation>
                    <xs:documentation>National Library of Australia identifier.
These are identifiers that begin with "nla.party-".
Identifier made resolvable by prefixing the given identifier
with "http://nla.gov.au/".</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="doi">
                <xs:annotation>
                    <xs:documentation>Digital Object Identifier.
Not a URL.
Identifier made resolvable by prefixing the given DOI
with "http://dx.doi.org/".
Provided DOI must start with "10.".</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="handle">
                <xs:annotation>
                    <xs:documentation>HANDLE System Identifier.
Not a URL.
Identifier made resolvable by prefixing the given handle
with "http://hdl.handle.net/".</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="infouri">
                <xs:annotation>
                    <xs:documentation>"info" URI scheme.
URIs that begin "info:".</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="isil">
                <xs:annotation>
                    <xs:documentation>International Standard Identifier for Libraries.
http://biblstandard.dk/isil/</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="isni">
                <xs:annotation>
                    <xs:documentation>International Standard Name Identifier (ISO 27729).
Not a URL.
Identifier made resolvable by prefixing the given ISNI
with "http://isni.org/isni/".
http://www.isni.org/</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="local">
                <xs:annotation>
                    <xs:documentation>Catch-all for identifiers that are not URLs, and which
do not belong to any of the other predefined schemes.
Note: URLs should be recorded using type "uri" instead.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="orcid">
                <xs:annotation>
                    <xs:documentation>ORCID Identifier.
Not a URL.
Identifier made resolvable by prefixing the given identifier
with "http://orcid.org/".
http://orcid.org/</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="purl">
                <xs:annotation>
                    <xs:documentation>Persistent Uniform Resource Locator.
A valid URL that begins with 'http://purl.org/'.
http://purl.org/</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="researcherID">
                <xs:annotation>
                    <xs:documentation>Thomson Reuters ResearcherID.
Not a URL.
Identifier made resolvable by prefixing the given identifier
with "http://www.researcherid.com/rid/".
http://www.researcherid.com/</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ror">
                <xs:annotation>
                    <xs:documentation>Research Organization Registry ID.
Not a URL; a
"unique and opaque character string: leading 0
followed by 6 characters and a 2-digit checksum".
Identifier made resolvable by prefixing the given identifier
with "https://ror.org/".
https://ror.org/</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="uri">
                <xs:annotation>
                    <xs:documentation>URI (either a URL or URN) not covered by the other predefined schemes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="viaf">
                <xs:annotation>
                    <xs:documentation>The Virtual International Authority File.
Not a URL.
Identifier made resolvable by prefixing the given identifier
with "http://viaf.org/viaf/".
http://viaf.org/</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="related-entity-relation">
        <xs:restriction base="xs:token">
            <xs:enumeration value="publishedBy">
                <xs:annotation>
                    <xs:documentation>For related entities of type party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="hasAuthor">
                <xs:annotation>
                    <xs:documentation>For related entities of type party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="hasContributor">
                <xs:annotation>
                    <xs:documentation>For related entities of type party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="pointOfContact">
                <xs:annotation>
                    <xs:documentation>For related entities of type party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="implementedBy">
                <xs:annotation>
                    <xs:documentation>For related entities of type party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="consumerOf">
                <xs:annotation>
                    <xs:documentation>For related entities of type party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="isFundedBy">
                <xs:annotation>
                    <xs:documentation>For related entities of type party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="hasAssociationWith">
                <xs:annotation>
                    <xs:documentation>For related entities of type service and vocabulary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="isPresentedBy">
                <xs:annotation>
                    <xs:documentation>For related entities of type service.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="isUsedBy">
                <xs:annotation>
                    <xs:documentation>For related entities of type service.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="isDerivedFrom">
                <xs:annotation>
                    <xs:documentation>For related entities of type vocabulary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="enriches">
                <xs:annotation>
                    <xs:documentation>For related entities of type vocabulary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="isPartOf">
                <xs:annotation>
                    <xs:documentation>For related entities of type vocabulary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="related-vocabulary-relation">
        <xs:restriction base="xs:token">
            <xs:enumeration value="hasAssociationWith"/>
            <xs:enumeration value="isDerivedFrom"/>
            <xs:enumeration value="enriches"/>
            <xs:enumeration value="isPartOf"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="subtask-provider-type">
        <xs:restriction base="xs:token">
            <xs:enumeration value="backup"/>
            <xs:enumeration value="harvest"/>
            <xs:enumeration value="importer"/>
            <xs:enumeration value="publish"/>
            <xs:enumeration value="transform"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="subtask-operation-type">
        <xs:restriction base="xs:token">
            <xs:enumeration value="insert"/>
            <xs:enumeration value="delete"/>
            <xs:enumeration value="perform"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="task-status">
        <xs:restriction base="xs:token">
            <xs:enumeration value="new">
                <xs:annotation>
                    <xs:documentation>Tasks and substasks are created with this status. If a subtask has this status, then execution of the subtask has not yet begun, or, at least, it has not progressed sufficiently in order to register a change of status.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="partial">
                <xs:annotation>
                    <xs:documentation>The task or subtask completed, but for some reason the result may not be as expected. This is akin to completion with a warning.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="success">
                <xs:annotation>
                    <xs:documentation>The task or subtask has completed successfully, without any warning.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="error">
                <xs:annotation>
                    <xs:documentation>An error occurred during processing of the task or subtask.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="registry-event-element-type">
        <xs:restriction base="xs:token">
            <xs:enumeration value="vocabularies"/>
            <xs:enumeration value="versions"/>
            <xs:enumeration value="accessPoints"/>
            <xs:enumeration value="relatedEntities"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="registry-event-event-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="created"/>
            <xs:enumeration value="updated"/>
            <xs:enumeration value="deleted"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="notification-mode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="email"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="notification-element-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="system"/>
            <xs:enumeration value="owner"/>
            <xs:enumeration value="vocabulary"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="browse-flag">
        <xs:annotation>
            <xs:documentation>Enumerated type of properties for the browse visualization.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="maySortByNotation">
                <xs:annotation>
                    <xs:documentation>The vocabulary data contains concepts that have values for the SKOS notation property. One of the notation... values must also be specified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="defaultSortByNotation">
                <xs:annotation>
                    <xs:documentation>When presenting the vocabulary data, the concepts should be sorted by their SKOS notation values by default. maySortByNotation must also be specified. One of the notation... values must also be specified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="notationAlpha">
                <xs:annotation>
                    <xs:documentation>The values of the SKOS notation property are alphabetical. maySortByNotation must also be specified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="notationFloat">
                <xs:annotation>
                    <xs:documentation>The values of the SKOS notation property are numeric. They are either integer values, or have at most one decimal point, e.g., 3.6. If the values are to be sorted, they are sorted as decimal values, so, for example, the value 3.6 would be sorted before 3.45. maySortByNotation must also be specified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="notationDotted">
                <xs:annotation>
                    <xs:documentation>The values of the SKOS notation property are numeric. They are either integer values, or they may have one or more decimal points, e.g., 3.6, or 3.7.2. If the values are to be sorted, each component between the decimal points is treated as an integer value, so, for example, the value 3.45 would be sorted after 3.6. maySortByNotation must also be specified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="defaultDisplayNotation">
                <xs:annotation>
                    <xs:documentation>When presenting the vocabulary data, SKOS notation values should be displayed by default. maySortByNotation must also be specified. One of the notation... values must also be specified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="includeConceptSchemes">
                <xs:annotation>
                    <xs:documentation>Concept schemes are taken into account. Each concept scheme appears as a top-level node in the tree, and concepts are grouped under their corresponding concept schemes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="includeCollections">
                <xs:annotation>
                    <xs:documentation>Collections are taken into account. Concepts are grouped under the collections of which they are members. Nested collections are supported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="mayResolveResources">
                <xs:annotation>
                    <xs:documentation>Resource IRIs are expected to resolve; therefore, the Portal may hyperlink IRIs to their targets.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="search-sort-order">
        <xs:annotation>
            <xs:documentation>Enumerated type of possible sort orders for search results.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="aToZ">
                <xs:annotation>
                    <xs:documentation>Sort alphabetically in ascending order, from A to Z.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="zToA">
                <xs:annotation>
                    <xs:documentation>Sort alphabetically in descending order, from Z to A.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relevance">
                <xs:annotation>
                    <xs:documentation>Sort in descending order of relevance. To use this sort order, a query term must be provided.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lastUpdatedAsc">
                <xs:annotation>
                    <xs:documentation>Sort in ascending order of the timestamp of the last update.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lastUpdatedDesc">
                <xs:annotation>
                    <xs:documentation>Sort in descending order of the timestamp of the last update.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="search-resources-collapse">
        <xs:annotation>
            <xs:documentation>Enumerated type of possible collapse options for the resource search results.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="vocabularyIdIri"/>
            <xs:enumeration value="iri"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
