src/main/jaxb/registry-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://vocabs.ands.org.au/registry/schema/2017/01/vocabulary"
    xmlns="http://vocabs.ands.org.au/registry/schema/2017/01/vocabulary"
    xmlns:common="http://vocabs.ands.org.au/registry/schema/2017/01/common">
    <xs:import id="common" namespace="http://vocabs.ands.org.au/registry/schema/2017/01/common"
        schemaLocation="common-types.xsd"/>
    <xs:simpleType name="id-type">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="vocabulary">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="poolparty-project">
                    <xs:complexType>
                        <xs:attribute name="server-id" type="xs:int">
                            <xs:annotation>
                                <xs:documentation>For the ANDS PoolParty server, set this to 1.</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="project-id" type="xs:token"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="subject">
                    <xs:complexType>
                        <xs:attribute name="source" use="required" type="xs:token"/>
                        <xs:attribute name="label" use="required" type="xs:token"/>
                        <xs:attribute name="notation" type="xs:token"/>
                        <xs:attribute name="iri" type="xs:anyURI"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="version"/>
                <xs:element maxOccurs="unbounded" name="other-language" minOccurs="0"
                    type="xs:token">
                    <xs:annotation>
                        <xs:documentation>The two-letter code for the language, drawn from ISO 639-1.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="top-concept" type="xs:token"/>
                <xs:element maxOccurs="unbounded" name="related-entity-ref">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="relation"
                                type="common:related-entity-relation"/>
                            <xs:element ref="related-entity" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="id-type" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="related-vocabulary-ref">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="relation"
                                type="common:related-vocabulary-relation"/>
                            <xs:element ref="related-vocabulary"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="id-type" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" ref="workflow-outcome"/>
            </xs:sequence>
            <xs:attribute name="id" type="id-type"> </xs:attribute>
            <xs:attribute name="status" use="required" type="common:vocabulary-status"> </xs:attribute>
            <xs:attribute name="owner" use="required" type="xs:token"/>
            <xs:attribute name="slug" type="xs:token">
                <xs:annotation>
                    <xs:documentation>When creating a vocabulary, this may be omitted; a slug will be automatically generated based on the title.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="title" use="required" type="xs:token"/>
            <xs:attribute name="acronym" type="xs:token"/>
            <xs:attribute name="description" type="xs:token">
                <xs:annotation>
                    <xs:documentation>The content must be a well-formed HTML fragment.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="note" type="xs:token">
                <xs:annotation>
                    <xs:documentation>The content must be a well-formed HTML fragment.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="revision-cycle" type="xs:token"/>
            <xs:attribute name="creation-date" type="xs:token">
                <xs:annotation>
                    <xs:documentation>A value in one of three possible formats: YYYY, YYYY-MM, or YYYY-MM-DD.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="primary-language" type="xs:token">
                <xs:annotation>
                    <xs:documentation>The two-letter code for the language, drawn from ISO 639-1.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="licence" type="xs:token"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vocabulary-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="vocabulary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="version">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="access-point"/>
            </xs:sequence>
            <xs:attribute name="id" type="id-type" use="optional"> </xs:attribute>
            <xs:attribute name="status" use="required" type="common:version-status"> </xs:attribute>
            <xs:attribute name="title" use="required" type="xs:token"/>
            <xs:attribute name="slug" type="xs:token">
                <xs:annotation>
                    <xs:documentation>When creating a version, this may be omitted; a slug will be generated automatically based on the title.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="note" type="xs:token">
                <xs:annotation>
                    <xs:documentation>The content must be a well-formed HTML fragment.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="release-date" type="xs:token">
                <xs:annotation>
                    <xs:documentation>A value in one of three possible formats: YYYY, YYYY-MM, or YYYY-MM-DD.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="do-poolparty-harvest" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>May only be specified to be true if the vocabulary element has a valid poolparty-project sub-element.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="do-import" type="xs:boolean"/>
            <xs:attribute name="do-publish" type="xs:boolean"/>
            <xs:attribute name="force-workflow" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>For an existing version that is being updated, force one-time workflow processing of this version. This attribute is not persisted.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="version-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="version"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="access-point">
        <xs:complexType>
            <xs:choice>
                <xs:element name="ap-api-sparql" type="ap-api-sparql"/>
                <xs:element name="ap-file" type="ap-file">
                    <xs:annotation>
                        <xs:documentation>When creating, specify only upload-id. The format and url attributes will be generated during processing.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ap-sesame-download" type="ap-sesame-download"/>
                <xs:element name="ap-sissvoc" type="ap-sissvoc"/>
                <xs:element name="ap-web-page" type="ap-web-page"/>
            </xs:choice>
            <xs:attribute name="id" type="id-type" use="optional"/>
            <xs:attribute name="source" type="common:ap-source" use="required">
                <xs:annotation>
                    <xs:documentation>For an access point of type file, specify user.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="discriminator" type="common:access-point-type" use="required">
                <xs:annotation>
                    <xs:documentation>There must be a sub-element of the type corresponding to the value of this attribute. For example, if the value is file, there must be an ap-file sub-element.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="access-point-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="access-point"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ap-common"/>
    <xs:complexType name="ap-api-sparql">
        <xs:complexContent>
            <xs:extension base="ap-common">
                <xs:attribute name="url" type="xs:anyURI" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ap-file">
        <xs:complexContent>
            <xs:extension base="ap-common">
                <xs:attribute name="format" type="xs:token"/>
                <xs:attribute name="upload-id" type="xs:int" use="required">
                    <xs:annotation>
                        <xs:documentation>The upload-id of a upload made previously by the user.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="url" type="xs:anyURI"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ap-sesame-download">
        <xs:complexContent>
            <xs:extension base="ap-common">
                <xs:attribute name="urlPrefix" type="xs:anyURI"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ap-sissvoc">
        <xs:complexContent>
            <xs:extension base="ap-common">
                <xs:attribute name="urlPrefix" type="xs:anyURI"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ap-web-page">
        <xs:complexContent>
            <xs:extension base="ap-common">
                <xs:attribute name="url" type="xs:anyURI" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="related-entity-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="related-entity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="related-entity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="related-entity-identifier" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="url" type="xs:anyURI"/>
            </xs:sequence>
            <xs:attribute name="id" type="id-type"/>
            <xs:attribute name="type" use="required" type="common:related-entity-type"/>
            <xs:attribute name="owner" type="xs:token" use="required"/>
            <xs:attribute name="title" type="xs:token" use="required"/>
            <xs:attribute name="email" type="xs:token"/>
            <xs:attribute name="phone" type="xs:token"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="related-entity-identifier">
        <xs:complexType>
            <xs:attribute name="id" type="id-type"/>
            <xs:attribute name="identifier-type" type="common:related-entity-identifier-type"
                use="required"/>
            <xs:attribute name="identifier-value" type="xs:token" use="required">
                <xs:annotation>
                    <xs:documentation>The value must conform to a type-specific pattern.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="version-artefact">
        <xs:complexType>
            <xs:attribute name="id" type="id-type"/>
            <xs:attribute name="status" type="common:version-artefact-status" use="required"/>
            <xs:attribute name="type" type="common:version-artefact-type" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="version-artefact-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="version-artefact"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="related-vocabulary">
        <xs:annotation>
            <xs:documentation>This element represents the top-level metadata of a related vocabulary. It appears only as a sub-element of the vocabulary element.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="id" type="id-type"> </xs:attribute>
            <xs:attribute name="status" use="required" type="common:vocabulary-status"> </xs:attribute>
            <xs:attribute name="owner" use="required" type="xs:token"/>
            <xs:attribute name="slug" type="xs:token"/>
            <xs:attribute name="title" use="required" type="xs:token"/>
            <xs:attribute name="acronym" type="xs:token"/>
            <xs:attribute name="description" type="xs:token"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="reverse-related-vocabulary-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="reverse-related-vocabulary" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="reverse-related-vocabulary">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="related-entity-relation"
                    type="common:related-entity-relation"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="related-vocabulary-relation"
                    type="common:related-vocabulary-relation"/>
                <xs:element ref="related-vocabulary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="owned-vocabulary">
        <xs:annotation>
            <xs:documentation>This element represents the top-level metadata of one of the user's vocabularies. It is used to generate content on the My Vocabs page.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="id" type="id-type"> </xs:attribute>
            <xs:attribute name="status" use="required" type="common:vocabulary-status"> </xs:attribute>
            <xs:attribute name="hasDraft" type="xs:boolean"/>
            <xs:attribute name="title" use="required" type="xs:token"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="owned-vocabulary-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="owned-vocabulary" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="workflow-outcome">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="task-outcome" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="subtask-outcome">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0"
                                            name="subtask-result" type="result-pair"/>
                                    </xs:sequence>
                                    <xs:attribute name="status" type="common:task-status"/>
                                    <xs:attribute name="subtask-provider-type"
                                        type="common:subtask-provider-type"/>
                                    <xs:attribute name="provider" type="xs:token"/>
                                    <xs:attribute name="operation"
                                        type="common:subtask-operation-type"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="task-result"
                                type="result-pair"/>
                        </xs:sequence>
                        <xs:attribute name="version-id" type="id-type"/>
                        <xs:attribute name="status" type="common:task-status"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="vocabulary-id" type="id-type"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="result-pair">
        <xs:attribute name="result-key" type="xs:token"/>
        <xs:attribute name="result-value" type="xs:token"/>
    </xs:complexType>
</xs:schema>
